.invisible
{
    display: hidden;
}

.success
{
    color: green;
}

.error
{
    color: red;
}

.histoTitle{
    text-align: center;
    font-weight: bold;
}

.svg-canvas{
    display: inline-block;
    position: relative;
    width: 100%
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

body {
    /* Move down content to compensate for fixed nav bar */
    padding-top: 35px;
}

.navbar {
    margin-bottom: 0;
    background-color: #2c3e50 !important;
    border-bottom: 1px solid #34495e !important;
}

.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
    color: #ecf0f1 !important;
}

.nav-sidebar .active a {
    background-color: #428bca;
    color: #fff;
    background-color: #34495e !important;
}

.nav-sidebar .active a:hover {
    background-color: #2972b1;
}

.menuContainer{
		width: 100%;
		height: 80%;
		overflow: auto;
}
