{% extends "layout.html" %}

{% block htmlHeader %}
{% endblock %}
{% block namebar %}
{% endblock %}



{% block pageheader %}Monitoring pages{% endblock %}
{% block body %}
<center>

Welcome to monitoring pages. You must be logged in to view the content. Please, choose the project.
<br><br><br><br>
<table border ="0" style="width:300px;table-layout:fixed" >
<tr>
         {{PROJECTBUTTONS|safe}}

</tr>
</table>
 </center>
{% endblock %}

{% block logged %}
{% endblock %}

{% block toolbar %}
    <div class="container-fluid">

        <span class="navbar-left">
              <p class="navbar-text"> {{ PROJECTNAME }} </p>
        </span>
     </div>
{% endblock %}

