{% extends "layout.html" %}

{% block htmlHeader %}
{#	{{ stylesheet_tag('lib/jsTree/themes/default/style', blueprint='offline_bp') }} #}
{#	{{ javascript_tag('lib/jsTree/jstree', blueprint='offline_bp') }} #}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
	{{ javascript_tag('histoDB', blueprint='offline_bp') }}

	<script>
	    	var runNmbr = {{ RUN_NMBR }};
		var recoVersionFullPath = "{{ VERSION_FULL }}";
		var recoVersionVisiblePart = "{{ VERSION_VISIBLE }}";
		var pageNormallyReadFromDBFlag = {{ LOAD_FROM_DB_FLAG }}
	</script>
	
{% endblock %}
{% block toolbar %}
    <div class="container-fluid">

      	<span class="navbar-right">
	      <p class="navbar-text">DQM</p>

	      <p class="navbar-text">RunNmbr:</p>
	      <form class="navbar-form navbar-left" role="search">
			<div class="input-group">
				<span class="input-group-btn">
					<button id="decreaseRunNmbrButton" class="btn btn-default" type="button">-</span></button>
					<button id="increaseRunNmbrButton" class="btn btn-default" type="button">+</span></button>
				</span>
	
				<input type="text" id="runNmbrTextfield"  class="form-control" value="{{ RUN_NMBR }}">
	
				<span class="input-group-btn">
					<button id="setRunNmbrButton" class="btn btn-default" type="button">ok</span></button>
				</span>
			</div>
		</form>

		<p class="navbar-text">RecoVersion:</p>
		<form class="navbar-form navbar-left" role="search">
			<span class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="recoVersionDropdownButton" data-toggle="dropdown">
				    	<span id="recoVersionDropdownButtonText">Please select</span>
				    	<span class="caret"></span>
			  	</button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="recoVersionDropdownButton" id="recoVersionDropdownMenu">
				  </ul>
			</span>
		</form>
		
		<form class="navbar-form navbar-left">
			<button id="statusIndicatorContainer" class="btn" type="button">
				<span class="glyphicon" id="statusIndicatorIcon"></span> 
				<span id="statusIndicatorText"></span>
			</button>
		</form>
		

		<p class="navbar-text">Reference:</p>
		<form class="navbar-form navbar-left" role="search">
			<div class="input-group">
				<button id="changeReferenceMode" class="btn " type="button" data-state="{{ REFERENCE_STATE }}">
					<span class="glyphicon" id="changeReferenceModeIcon"></span> 
					<span id="changeReferenceModeText"> </span>
				</button>
			</div>
		</form>
	</span>
</div>
{% endblock %}

{% block navsidebar %}
	<span id="connectionStatus" class="alert alert-success" style="display: none; height=15px;">
		<span class="glyphicon glyphicon-ok" id="connectionStatusIcon"></span> 
		<span id="connectionStatusText"> Connection</span>
	</span>
	
	<div style="height: 4px;">  &nbsp;
	</div>
	
	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<button type="button" id="reloadTreeButton" class="btn btn-default btn-xs">Reload</button>
		 </div>
		<div class="btn-group">
			<button type="button" id="openAllTreeButton" class="btn btn-default btn-xs">Open all</button>
		 </div>
		<div class="btn-group">
			<button type="button" id="closeAllTreeButton" class="btn btn-default btn-xs">Close all</button>
		 </div>
	</div>
	
	<div style="height: 4px;">  &nbsp;
	</div>
	
	<div class="input-group">
		<input type="text" id="filterTextfield"  class="form-control">
		<span class="input-group-btn">
			<button id="addFilterButton" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
			<button id="removeFilterButton" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
		</span>
	</div>
	<div class="menuContainer">
		<div id="loading">Loading menu</div>
		<div id="menuTree" ></div>
	</div>	
{% endblock %}
{% block navtopbar %}
  <li class="{{ 'active' if active_page_or_ancestor(page) else '' }}">
    <a href="{{ url_for('catchall.serve_page', path=page) }}">{{ title }}</a>
  </li>
{% endblock %}
{% block body %}
{% endblock %}
