{% extends "auth.html" %}

{% block htmlHeader %}
{#      {{ stylesheet_tag('lib/jsTree/themes/default/style', blueprint='offline_bp') }} #}
{#      {{ javascript_tag('lib/jsTree/jstree', blueprint='offline_bp') }} #}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>

{% endblock %}

{% block toolbar %}
    <div class="container-fluid">
        <span class="navbar-left">
              <p class="navbar-text">LHCb DQM</p>
        </span>
</div>
{% endblock %}
{% block logged %}
{% endblock %}
